{{define "lucky"}}
{{template "header" .}}
    <div style="margin:50px 0px;">
      <form method="POST" action="">
        <div class="error">{{.UsernameError}}</div>
        <input type="hidden" name="userid" value="{{.UserID}}">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="submit" name="show-problems" value="Show all problems">
        <input type="submit" name="feeling-lucky" value="Feeling lucky!">
      </form>
      <div class="lucky rainbow">
        <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem=2070" target="_blank">
          11129 -<span class="narrowx"> </span>Fighting Against a Polygonal Monster
        </a>
      </div>
    	<p>Level 3 - Acceptance ratio: 48%</p>
<!-- "dacu":7895,
"sube":153,"noj":0,"inq":0,"ce":1055,"rf":0,"re":774,"ole":9,"tle":1535,"mle":1,"wa":7639,"pe":17,"ac":10377,
153+1055+774+1535+9+1+7639+10377+17 -->
    </div>
{{template "footer" .}}
{{end}}
