{{define "lucky"}}
{{template "header" .}}
    <div style="margin:50px 0px;">
      <form method="POST" action="">
        <div class="error">{{.UsernameError}}</div>
        <input type="hidden" name="userid" value="{{.UserID}}">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="submit" name="show-problems" value="Show all problems">
        <input type="submit" name="feeling-lucky" value="Feeling lucky!">
      </form>
      <div class="lucky rainbow">
        <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem={{.ProblemID}}" target="_blank">
          {{.ProblemNumber}} -<span class="narrowx"> </span>{{.ProblemTitle}}
        </a>
      </div>
    	<p>Level {{.ProblemLevel}} - Acceptance ratio: {{.ProblemAcRatio}}%</p>
    </div>
{{template "footer" .}}
{{end}}
