{{define "lucky"}}
{{template "header" .}}
      <div class="lucky-problem">{{ $p := index .Problems 0}}
        <p class="lucky rainbow">
        <a href="https://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem={{ $p.ID}}" target="_blank">
          {{$p.Number}}{{if $p.Star}}*{{end}}
          - {{$p.Title}}
        </a>
        </p>
      </div>
    	<p>
        Level {{$p.Level}} -
        AC Ratio: {{$p.AcRatio}}%
      </p>

      {{template "form" .}}

{{template "footer" .}}
{{end}}
