{{define "lucky"}}
{{template "header" .}}
    <div style="margin:50px 0px;">
      <form method="POST" action="">
        <div class="error">{{.UsernameError}}</div>
        <input type="hidden" name="userid" value="{{.UserID}}">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="submit" name="show-problems" value="Show all problems">
        <input type="submit" name="feeling-lucky" value="Feeling lucky!">
      </form>
      <div class="lucky rainbow">{{ $p := index .Problems 0}}
        <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem={{ $p.ID}}" target="_blank">
          {{$p.Number}} -<span class="narrowx"> </span>{{$p.Title}}
        </a>
      </div>
    	<p>Level {{$p.Level}} - Acceptance ratio: {{$p.AcRatio}}%</p>
    </div>
{{template "footer" .}}
{{end}}
