{{define "problems"}}
{{template "header" .}}
    <div style="margin:50px 0px;">
      <form method="POST" action="">
        <div class="error">{{.UsernameError}}</div>
        <input type="hidden" name="userid" value="{{.UserID}}">
        <input type="hidden" name="username" value="{{.Username}}">
        <input type="submit" name="show-problems" value="Show all problems">
        <input type="submit" name="feeling-lucky" value="Feeling lucky!">
      </form>
      <div class="problems">
        <table>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Level</th>
            <th>AC Ratio</th>
          </tr>
          {{ range $p := $.Problems }}
          <tr>
            <td>{{$p.Number}}</td>
            <td>
              <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem={{ $p.ID}}" target="_blank">{{$p.Title}}</a>
            </td>
            <td>{{$p.Level}}</td>
            <td>{{$p.AcRatio}}</td>
          </tr>
        {{ end }}
        </table>
      </div>
    </div>
{{template "footer" .}}
{{end}}
