{{define "problems"}}
{{template "header" .}}
    <div style="margin:50px 0px;">
      <div class="problems">
        <h2>
          <span class="rainbow-text">{{$.Username}}</span>:
          {{len $.Problems}} problems to go!</h2>
        <small>
          {{if .IsOrderStar}}First showing star (*) problems, ordered by Category and Level{{end}}
          {{if .IsOrderCategory}}Ordered by Category and then Level{{end}}
          {{if .IsOrderLevel}}Ordered by Level{{end}}
        </small>
        <table class="problems">
          <thead><tr>
            <th style="color:#666">#</th>
            <th>
              Problem
            </th>
            <th>
              <a href="?all&u={{$.Username}}&o=star" title="Star problems">*</a>
            </th>
            <th style="text-align: center">
              <a href="?all&u={{$.Username}}&o=cat" title="Category">Category</a>
            </th>
            <th>
              <a href="?all&u={{$.Username}}&o=lev" title="Level">Level</a>
            </th>
            <!-- <th>
              <a href="?all&u={{$.Username}}&o=ac" title="Acceptance Ratio">AC Ratio</a>
            </th>
            <th>
              <a href="?all&u={{$.Username}}&o=dacu" title="Different Accepted Users">DACU</a>
            </th> -->
          </tr></thead>
          <tbody>{{ range $i, $p := $.Problems }}
          <tr>
            <td scope="row" style="color:#666; font-size:80%">{{inc $i}}</td>
            <td style="text-align: right">{{$p.Number}}</td>
            <td>
              {{if $p.Star}}*{{end}}
              <a href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&category=24&page=show_problem&problem={{ $p.ID}}"
                 target="_blank" title="{{$p.GetChapter}}">
                {{$p.Title}}</a>
            </td>
            <td style="text-align: center">
              <span title="{{$p.GetSubchapter}}">{{$p.GetChapter}}</span>
            </td>
            <td style="text-align: center">{{$p.Level}}</td>
            <!-- <td style="text-align: center; font-size:90%">{{$p.AcRatio}}%</td>
            <td style="text-align: center; font-size:80%">{{$p.Dacu}}</td> -->
          </tr>
        {{ end }}</tbody>
        </table>
      </div>
      <form method="POST" action="">
        <div style="margin-top:90px;">
          <div class="logo-subtext">Enter your <a href="https://uva.onlinejudge.org" target="_blank">UVa</a> username:</div>
        </div>
        <div class="error">{{.UsernameError}}</div>
        <div>
          <input type="hidden" name="userid" value="{{.UserID}}">
          <input id="username" maxlength="2048" name="username" title="Username" type="text" value="{{.Username}}" aria-label="Username" autocomplete="off" style="text-align:center;margin-bottom:10px;height:20px;width:200px;">
        </div>
        <input type="submit" name="show-problems" value="Show all problems">
        <input type="submit" name="feeling-lucky" value="Feeling lucky!">
      </form>
    </div>
{{template "footer" .}}
{{end}}
